
        * {
            font-family: Go, Arial, malgun gothic,        , NanumGothic, dotum,     ,
                sans-serif;
            font-weight: bold;
            font-size: 11px;
        }

        li {
            list-style: none;
            padding: 10px 15px;
        }

        body {
            margin: 0;
        }
        .border{
            display: flex;
            justify-content:center;
            align-items: center;
            border-top-style: solid;
            border-bottom: 1px;
    		border-color: #96460033;
    		background-color: bisque;
        }
        .menu {
            padding: 10px 15px;
            height: 100%;
            text-align: center;
            float: left;
        }
